.container {
  border: red 1px solid;
  padding: 3rem;
  /* background-color: #b7a986 !important;
  background-color: #f57f5b !important;
  font-family: "Spartan", sans-serif; */
}
.top-bar {
  background-color: #daceb2 !important;
}
.jumbotron {
  background-image: url("../src/images/jumbo.png");
  height: 70vh;
  background-position: center;
  background-size: cover;
  opacity: 1;
}
.card {
  border: none !important;
}

.instagram-media {
  min-width: auto !important;
}
.ranking-container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 10%;
}
.shop-card {
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 2rem 0 2rem 0;
  border: #b7a986 1px solid;
}
/* .shop-card-body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  width: auto;
} */
.add-shop-container {
  background-color: #f2efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 10%;
  margin: 5% 10% 5% 10%;
}
.shop-detail-container {
  background-color: #f2efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 5% 0% 5%;
  margin: 5% 10% 5% 10%;
}

.detail-item {
  margin: 5% 3% 0% 0%;
}

.month_default_event_inner {
  background: #999999;
  color: #fff;
  font-size: 12px;
  padding: 0px 10px;
  opacity: 0.8;
  border-radius: 5px;

  /* vertical centering */
  display: flex;
  align-items: center;
}

.event-container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 10%;
}
.event-detail-container {
  background-color: #f2efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 5% 0% 5%;
  margin: 5% 10% 5% 10%;
}
.add-event-container {
  background-color: #f2efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 10%;
  margin: 5% 10% 5% 10%;
}

.master-container {
  background-color: #f2efec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 10%;
  margin: 5% 10% 5% 10%;
}
