.red {
  border: red 1px solid;
}
.white {
  color: white;
  font-size: smaller;
  font-weight: bold;
}
.label {
  color: #72684f;
}
.point {
  /* color: #c57d10; */
  color: #f57f5b;
}
.container {
  padding: 3rem;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
/* --------- Public Navbar and Public Footer ---------*/
.very-top-bar {
  /* background-color: #f57f5b !important; */
  background-color: #b7a986 !important;
  font-family: "Montserrat", sans-serif;
  height: 5vh;
}
.logo-top-bar {
  background-color: white !important;
  height: 15vh;
  position: relative;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  margin-left: -90px !important;
  margin-top: -30px !important;
  display: block;
  /* height: 20%; */
  background-color: white !important;
}
.menu-top-bar {
  background-color: white !important;
  height: 5vh;
}
.menu-button {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: smaller;
  font-family: "Montserrat", sans-serif;
}
.footer-menu {
  font-size: 12px;
}
/* --------- Main Page ---------*/
.main-container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12rem 0rem 0rem 0rem;
}
.jumbotron {
  background-image: url("../src/images/jumbo.png");
  height: 70vh;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;
}
.search-box {
  position: absolute;
  /* left: 50%;
  margin-left: -90px !important;
  margin-top: -30px !important;
  display: block; */
}
.insert-sentence {
  font-family: "Poppins", sans-serif;
  color: rgb(54, 50, 50);
  /* font-family: 'Kumbh Sans', sans-serif; */
}
.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.card {
  border: none !important;
}
.instagram-media {
  min-width: auto !important;
}
.footer-container {
  /* background-color: #f57f5b !important; */
  background-color: #b7a986 !important;
  height: 100%;
}
/* --------- Ranking Page ---------*/
.shop-card {
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 2rem 0 2rem 0;
  border: #b7a986 1px solid;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  color: #554a32;
}
.shop-card:hover {
  background: #dacdaf !important;
  border-color: transparent;
  box-shadow: 0 0 5px 1px #c57d10;
  cursor: pointer;
  transition: all 0.25s ease;
}
.card-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin: 5% 3% 0% 0%;
}
/* .pagination {
  text-align: center;
  padding-top: 20px;
} */
.pagination a {
  color: #f57f5b;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
/* .pagination > li.active > a {
  background-color: #2c2828 !important;
} */
.pagination > li > a:hover {
  color: #e6dfdf;
  background-color: #b7a986 !important;
}
/* --------- Shop Detail Page ---------*/
.detail-container {
  background-color: #f2efec;
  margin: 16% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0rem 0rem 0rem;
}
.detail-item {
  margin: 5% 3% 0% 0%;
}
/* --------- AddEdit Shop Page ---------*/
.add-edit-container {
  background-color: #f2efec;
  margin: 16% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0rem 0rem 0rem;
  font-family: "Montserrat", sans-serif;
}
/* --------- working-on Page ---------*/
.working-on {
  background-image: url("../src/images/brew.gif");
  height: 70vh;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;
}
